<% trasactions.each do |tx| %>
  <UL>
    <li><div class="BS_list1">0x9cb4f5fb9bc5f3a3918c1d90c9f0</div></li>
    <li><div class="BS_list2">4 days 18 hrs ago (Oct-10-2018)</div></li>
    <li><div class="BS_list3">2ETH</div></li>
  </ul>
<% end %>