<div class="jp-container">
  <%= render 'shared/flash_message' %>
  <h1 class="top-title">Smart Contract Casino</h1>
  <div class="jp-bottom">
    <p class="jackpot">Jackpot</p>
    <h3 class="jp-value"><span id="jp"><%= @jp %></span>ETH</h3>
  </div>
</div>
<div class="tab-container">
  <div class="tab-container-base">
    <div class="tab-header">
      <div>
        <button class="tab-button-play">
          Play
        </button>
        <button class="tab-button-play">
          How to play
        </button>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-inner-content-play">
        <div id="hall-number-of-players">
          <p class="hall-text">Halls</p>
          <div class="hall-tab">
            <button>
              x2
            </button>
            <button>
              x3
            </button>
            <button>
              x6
            </button>
            <button>
              x10
            </button>
            <button>
              x???
            </button>
          </div>
        </div>
        <div id="hall-value-of-bets">
          <p class="hall-text">The probability that you get jackpot is proportion to value of ETH you bet.</p>
          <div class="hall-tab">
            <button>
              0.125
            </button>
            <button>
              0.25
            </button>
            <button>
              0.50
            </button>
            <button>
              1
            </button>
            <button>
              2
            </button>
            <button>
              4
            </button>
            <button>
              8
            </button>
            <button>
              16
            </button>
            <button>
              32
            </button>
            <button>
              64
            </button>
          </div>
        </div>
        <div id="hall-qr-code">
          <div id="hall-qr">
          </div>
          <div class="contract-address-info">
            <p>0x05c9dabdcc658f437aab9571f44219b1edc4787b</p>
          </div>
        </div>
      </div>
      <div class="tab-inner-content-play">
        遊び方
      </div>
    </div>
  </div>
    <div class="tab-container-base">
      <div class="tab-header">
        <div>
          <button class="tab-button-user">
            My Page
          </button>
          <button class="tab-button-user">
            Ranking
          </button>
          <button class="tab-button-user">
            History
          </button>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-inner-content">
          マイページ
        </div>
        <div class="tab-inner-content">
          ランキング
        </div>
        <div class="tab-inner-content">
          履歴
        </div>
      </div>
    </div>
</div>
<script type="text/javascript" src="jquery.qrcode.min.js"></script>
<script type="text/javascript">
    const contract_address = "0x05c9dabdcc658f437aab9571f44219b1edc4787b";
    function getWeb3() {
        // Wait for loading completion to avoid race conditions with web3 injection timing.
        return new Promise((resolve, reject) => {
                var results;
                var web3 = window.web3;
                console.log(web3)
                // Checking if Web3 has been injected by the browser (Mist/MetaMask)
                if (typeof web3 !== 'undefined') {
                    // Use Mist/MetaMask's provider.
                    web3 = new Web3(web3.currentProvider);

                    results = {
                        web3: web3
                    };

                    console.log('Injected web3 detected.');

                    resolve(results)
                } else {
                    results = {
                        web3: null
                    };


                    resolve(results)
                }
        })
    }
  $(function(){
      //play tab setting
      $('.tab-inner-content').hide();
      $('.tab-inner-content').eq(0).show();
      $('.tab-button-user').eq(0).addClass('button-active');
      //click event
      $('.tab-button-user').each(function () {
          $(this).on('click', function () {
              var index = $('.tab-button-user').index(this);
              $('.tab-button-user').removeClass('button-active');
              $(this).addClass('button-active');
              $('.tab-inner-content').hide();
              $('.tab-inner-content').eq(index).show();
          })
      });
      //user tab setting
      $('.tab-inner-content-play').hide();
      $('.tab-inner-content-play').eq(0).show();
      $('.tab-button-play').eq(0).addClass('button-active');
      //click event
      $('.tab-button-play').each(function () {
          $(this).on('click', function () {
              var index = $('.tab-button-play').index(this);
              $('.tab-button-play').removeClass('button-active');
              $(this).addClass('button-active');
              $('.tab-inner-content-play').hide();
              $('.tab-inner-content-play').eq(index).show();
          })
      });
      $('#flash-message').fadeOut(3000);
      $('#hall-qr').qrcode({render: 'div', text: "ethereum:0x05c9dabdcc658f437aab9571f44219b1edc4787b?amount=1000000000000000000&gas=1000000"})
      $.getJSON('/FiftyFifty.json', function(data){
          getWeb3().then(function(result){
              window.web3 = result.web3;
              const contract = window.web3.eth.contract(data.abi);
              window.contract_instance = contract.at(contract_address);
              const Bet = window.contract_instance.Bet({
                  _from: window.web3.eth.coinbase
              },{
                  fromBlock: 0,
                  toBlock: 'latest'
              });
              Bet.watch(function(err,result){
                  if(!err) {
                      console.log(result)
                  }
              });
          });
      });
      setInterval(function () {
          $.ajax({
              url: "/ethereum/jp",
              type: "POST"
          }).done(function(data){
              $('span#jp').html(data.jp)
          })
      }, 1200);
  })
</script>